**/__pycache__
*.py[cod]
*.pyd
*.so
*.egg-info/
.dist/
build/

.venv/

.vscode/
.idea/
.DS_Store
Thumbs.db

.ipynb_checkpoints/

data/
artifacts/
mlruns/
*.parquet
*.csv
*.pkl
*.joblib
*.cover
*.lock

.env

